<!doctype html>
<html>
  <head><title>Leave Form</title></head>
  <body>
    <h1>Leave Request</h1>
    <form action="/predict" method="post">
      Faculty ID: <input name="faculty_id" value="101"><br>
      Leave Type: <input name="leave_type" value="Sick"><br>
      Reason: <input name="reason" value="I am sick"><br>
      Duration: <input name="duration" value="3"><br>
      Past Leave: <input name="past_leave" value="1"><br>
      <button type="submit">Submit</button>
    </form>
  </body>
</html>